<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.44;Database=zfx365_apartmentdb;User Id=dev;Password=123;Convert Zero Datetime=True;Allow Zero Datetime=True;" />
  <!--zfx-->
   <add name="MySqlConn_Manager" providerName="Dos.ORM.MySql" connectionString="Data Source=192.168.1.44;Database=zfx365_apartmentdb;User Id=dev;Password=123;Convert Zero Datetime=True;Allow Zero Datetime=True;" />
  <add name="AccessConn" providerName="Dos.ORM.MsAccess" connectionString="" />
  <add name="OracleConn" providerName="Dos.ORM.Oracle" connectionString="" />
  <add name="PostgreSqlConn" providerName="Dos.ORM.PostgreSql" connectionString="" />
</connectionStrings>